.page {
  height: 100%;

  display: flex;
  flex-direction: column;
}

.title {
  margin-top: 97px;

  text-align: center;

  color: #ffffff;

  @media screen and (max-height: 600px) {
    margin-top: 50px;
  }
}

.rules {
  margin-top: 40px;
}

.actions {
  margin-top: auto;

  display: flex;
  flex-direction: column;
  gap: 12px;
}
