.score {
  width: 100%;

  position: absolute;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  z-index: -1;

  color: var(--base-white);
}

.scoreType {
  &_game {
    top: 15px;
  }

  &_info {
    top: 40px;
  }
}

.description {
  display: flex;
  align-items: center;
  gap: 5px;
}

.icon {
  width: 16px;
  height: 16px;
}
