@use "style/mixins/font";
@use "style/mixins/actions";

.buttonColor {
  &_white {
    color: var(--base-black);
    background: var(--base-white);
  }

  &_black {
    color: var(--base-white);
    background: var(--neutral-800);
  }

  &_amber {
    color: var(--base-white);
    background: var(--amber-600);
  }

  &_red {
    color: var(--base-white);
    background: var(--red-600);
  }

  &_green {
    color: var(--base-white);
    background: var(--lime-600);
  }

  &_cyan {
    color: var(--base-white);
    background: var(--cyan-600);
  }

  &_blue {
    color: var(--base-white);
    background: var(--blue-700);
  }

  &_violet {
    color: var(--base-white);
    background: var(--violet-600);
  }

  &_gray {
    color: var(--base-white);
    background: var(--neutral-600);
  }
}

.button {
  width: 100%;
  height: 48px;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;

  outline: none;

  border: none;
  border-radius: 25px;

  @include font.type("h3");

  transition: opacity .3s ease;

  @include actions.hover {
    opacity: .8;
  }

  &:disabled {
    pointer-events: none;

    color: var(--neutral-600);
    background: var(--neutral-800);
  }
}
