.button {
  width: 40px;
  height: 40px;

  border-radius: 50%;

  color: var(--base-white);
  background: var(--base-black);

  &Type {
    &_play {
      width: auto;

      padding: 0 25px;

      border-radius: 25px;
    }
  }
}
