.stats {
  display: flex;
  flex-direction: column;
  gap: 30px;

  color: #ffffff;
}

.item {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 4px;

  .description {
    display: flex;
    align-items: center;
    gap: 5px;
  }
}