@import "https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&display=swap";

.h1 {
  font-family: Geologica, sans-serif;
  font-size: 26px;
  font-weight: 800;
  line-height: 123%;
}

.h2 {
  font-family: Geologica, sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 133%;
}

.h3 {
  font-family: Geologica, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 125%;
}

.h4 {
  font-family: Geologica, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 137%;
}

.h5 {
  font-family: Geologica, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 143%;
}

.b1 {
  font-family: Geologica, sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 119%;
}

.b2 {
  font-family: Geologica, sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 120%;
}

.b3 {
  font-family: Geologica, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 125%;
}

.b4 {
  font-family: Geologica, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 129%;
}
