@use "style/mixins/font";

.field {
  height: 320px;

  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;

  overflow-x: hidden;

  overflow-y: auto;

  @media screen and (min-width: 420px) and (min-height: 700px) {
    height: 384px;
  }

  &::-webkit-scrollbar {
    width: 0;
  }
}

.row {
  display: flex;
  gap: 12px;
}

.item {
  width: 45px;
  height: 45px;

  display: flex;
  align-items: center;
  justify-content: center;

  @include font.type("h2");

  text-align: center;

  border-radius: 12px;

  color: var(--base-white);
  background: var(--cyan-300);

  @media screen and (min-width: 420px) and (min-height: 700px) {
    width: 54px;
    height: 54px;
  }

  &Entered {
    background: var(--neutral-800);
  }

  &Incorrect {
    color: var(--cyan-700);
    background: var(--cyan-600);
  }

  &Exist {
    color: var(--base-white);
    background: var(--cyan-700);
  }

  &Correct {
    color: var(--cyan-500);
    background: var(--base-white);
  }
}
