.stepper {
  padding: 20px;

  border-radius: 30px;

  background: var(--base-white);

  .title {
    color: var(--base-black);
  }

  .description {
    margin-top: 8px;

    color: var(--neutral-400);
  }

  .actions {
    margin-top: 30px;

    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }
}
