@use "style/mixins/font";

.rules {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}

.item {
  width: 265px;

  display: flex;
  align-items: center;
  gap: 20px;

  white-space: pre-wrap;

  color: #ffffff;

  &:nth-child(1) {
    .letter {
      color: #06b6d4;
      background: #ffffff;
    }
  }

  &:nth-child(2) {
    .letter {
      color: #ffffff;
      background: var(--cyan-700);
    }
  }

  &:nth-child(3) {
    .letter {
      color: var(--cyan-700);
      background: var(--cyan-600);
    }
  }

  .letter {
    width: 50px;
    height: 50px;

    display: flex;
    align-items: center;
    justify-content: center;

    @include font.type("b3");

    border-radius: 12px;
  }
}
