.dots {
  display: flex;
  align-items: center;
  gap: 8px;

  .dot {
    width: 10px;
    height: 10px;

    border-radius: 50%;

    transition: .3s ease;

    background: #e5e5e5;

    &Active {
      width: 30px;

      border-radius: 20px;

      background: #000;
    }
  }
}