.score {
  position: absolute;
  top: 20px;
  right: 20px;

  display: flex;
  align-items: flex-end;
  flex-direction: column;

  color: var(--base-white);
}

.description {
  display: flex;
  align-items: center;
  gap: 5px;
}

.icon {
  width: 16px;
  height: 16px;
}
