.stepper {
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
  gap: 120px;

  @media screen and (max-height: 650px) {
    gap: 80px;
  }
}

.image {
  max-width: 100%;

  margin-top: 50px;
}
