.background {
  width: 100vw;
  height: 100vh;

  position: fixed;

  display: flex;
  align-items: center;
  justify-content: center;

  overflow: hidden;

  .pattern {
    min-width: 1208px;

    position: absolute;

    z-index: 10;
  }

  .shadow {
    position: absolute;

    z-index: 15;

    box-shadow: 0 0 100px 200px rgba(255, 255, 255, 0.2);
  }

  .content {
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;

    z-index: 20;
  }
}

@mixin generate-type($type, $rectColor, $pathColor) {
  .backgroundType_#{$type} {
    background-color: $pathColor;

    .pattern {
      rect {
        fill: $rectColor;
      }

      path {
        fill: $pathColor;
      }
    }
  }
}

@include generate-type("cyan", var(--cyan-400), var(--cyan-500));
@include generate-type("red", var(--red-400), var(--red-500));
